  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <div class="nav-left">
    <a href="/" <%- title === 'Home' ? 'class="active"' : '' %>> Home</a>
    <a href="/community" <%- title === 'Community' ? 'class="active"' : '' %>> Community</a>
    <a href="/teams" <%- title === 'Teams' ? 'class="active"' : '' %>> Teams</a>
    </div>
    <div class="nav-right">
    <% if (user) { %>
      <a href="/profiles" <%- title === 'Profile' ? 'class="active"' : '' %>> Profile</a>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
    </div>
  </nav>
