<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>
    <%= title %>
  </h1>

  <section class="section-container">
    <form id="new-team-form" action="/teams" method="POST">
      <section class="section-container box-title-desc">
        <label for="title-input">Title:</label>
        <input type="text" name="title" id="input-title" placeholder="Enter a title...">
        <label for="title-input">Description:</label>
        <input type="text" name="description" id="input-title" placeholder="Enter a description...">
        <button type="submit">Create Team</button>
      </section>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>